.TableAdmin-div{
    top: 28%;
    position: absolute;
    display: block;
    width: 55%;
    height: 78%;
}

.tableAdmin-div{
    position: absolute;
    display: block;
    width: 100%;
    height: 92%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: auto;
}

.TableAdmin-div .validate-all{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 2.5%;
    left: 2%;
    width: 120px;
    height: 30px;
    background-color: rgba(133, 220, 172, 1);
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    gap: 2px;
}

.TableAdmin-div .validate-all img{
    width: 20px;
    height: 20px;
}

.TableAdmin-div .sprint{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 2.5%;
    left: 45%;
    width: 120px;
    height: 30px;
    background-color: rgba(22, 80, 129, 1);
    cursor: pointer; 
    border-radius: 10px;
    color: white;
}

.TableAdmin-div .sprint img{
    width: 20px;
    height: 20px;
}

.TableAdmin-div .form-search{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2%;
    left: 65%;
    width: 200px;
    height: 30px;
    gap: 5px;
}

.TableAdmin-div .input-btn{
    display: flex;
    flex-direction: row;
}

.TableAdmin-div .search-icon{
    padding: 0 5px;
    background-color: rgba(22, 80, 129, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.TableAdmin-div .search-input{
    border: none;
    background-color: rgba(22, 80, 129, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.TableAdmin-div .search{
    border: none;
    border-radius: 10px;
    background-color: rgba(22, 80, 129, 0.2);
    cursor: pointer;
}

.TableAdmin-div .Table-TableAdmin{
    position: absolute;
    top: 14%;
    left: 2%;
    width: 97%;
    border-collapse: collapse;
    text-align: center;
}

.TableAdmin-div .Table-TableAdmin th{
    font-size: 15px;
    padding-right: 15px;
    padding-left: 5px;
    background-color: rgba(212, 232, 255, 1);
}

.TableAdmin-div .Table-TableAdmin tr:nth-child(2n){
    background: aliceblue;
}

.TableAdmin-div .Table-TableAdmin th:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.TableAdmin-div .Table-TableAdmin th:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.TableAdmin-div .tableAdmin-name{
    text-transform: uppercase;
    font-weight: bold;
}

.TableAdmin-div .button-modifier{
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 15px;
    border: none;
    height: 25px;
    background: rgba(139, 197, 229, 1);
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.TableAdmin-div .button-sup{
    display: flex;
    align-items: center;
    width: 98%;
    border-radius: 15px;
    border: none;
    height: 30px;
    background: #F36666;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.TableAdmin-div .valide{
    display: block;
    background-color: rgba(218, 237, 226, 1);
    color: rgb(52, 241, 131);
    font-size: 12px;
    border-radius: 5px;
    height: 18px;
    width: 50px;
    margin-left: 8px;
}

.TableAdmin-div .Refuse{
    display: block;
    background: rgb(242, 211, 211);
    color: rgb(240, 19, 41);
    font-size: 12px;
    border-radius: 5px;
    height: 18px;
    width: 50px;
    margin-left: 8px;
}

.TableAdmin-div input[type=text],.TableAdmin-div input[type=password], .TableAdmin-div select,.TableAdmin-div input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #939af0;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .TableAdmin-div input[type=submit] {
    background-color: #939af0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .TableAdmin-div input[type=submit]:hover {
    background-color: #7882f1;
  }

  .TableAdmin-div .fail{
    color: red;
  }
