.loginlogo-container{
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 200px;
}

.loginlogo-container-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.loginlogo-container-span{
    flex-direction: row;
    font-weight: bold;
    color: white;
    font-size: 17px;
    margin-left: 32px;
}